{
  "presets": ["es2015", "es2016", "es2017", "flow"],
  "plugins": ["transform-flow-strip-types", "transform-runtime"],
  "env": {
    "development": {
    },
    "test": {
      "presets": ["es2015"],
    }
  }
}
